@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Malinton";
  src: url("./assets/fonts/malinton-trial-version.bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MoglanDemo";
  src: url("./assets/fonts/Moglan_Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  /* COLORS */
  --color-background: #313E35;
  --color-foreground: #FEFCF4;

  --color-card: #2A352E;
  --color-card-foreground: #FEFCF4;

  --color-primary: #FEFCF4;
  --color-primary-foreground: #313E35;

  --color-secondary: #FE9B31;
  --color-secondary-foreground: #313E35;

  --color-accent: #FE9B31;
  --color-accent-foreground: #313E35;

  --color-border: rgba(254, 252, 244, 0.15);
  --color-ring: #FE9B31;
  --color-hero-bg: #40513B;

  --radius: 0rem;

  /* FONTS */
  --font-heading: 'Malinton', serif;
  --font-body: 'Montserrat', sans-serif;
  --font-display: 'MoglanDemo', serif;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-body antialiased bg-background text-foreground selection:bg-secondary/30;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-tight;
  }
}

@layer utilities {
  .font-display {
    font-family: var(--font-display);
  }
}
